<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Import_tag-Example-2/src/com/avishek/spring/Import.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.avishek.spring.Import"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Import_tag-Example-2"/>
</launchConfiguration>
