<?xml version="1.0" encoding="UTF-8"?>
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context-4.2.xsd
    http://www.springframework.org/schema/aop  
    http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">  
    
    <context:annotation-config/>
    <aop:aspectj-autoproxy/>
    
    <bean name="as" class="com.avishek.spring.AccountService"/>
	<bean name="cs" class="com.avishek.spring.CustomerServiceImpl"/>
	
	<bean name="ss" class="com.avishek.spring.SecurityService"/>
	<bean name="ts" class="com.avishek.spring.TxServices"/>
	<bean name="ls" class="com.avishek.spring.LogService"/>

	 
	    
	<bean name="mba" class="com.avishek.spring.MBAdvice"/>
	<bean name="mra" class="com.avishek.spring.MRAdvice"/>
	<bean name="mta" class="com.avishek.spring.MTAdvice"/>
   
   <bean name="PC1" class="org.springframework.aop.aspectj.AspectJExpressionPointcut">
		<property name="expression" value="execution(* com.avishek.spring.AccountService.my*(..))"/>
   </bean>
   
    <bean name="PC2" class="org.springframework.aop.aspectj.AspectJExpressionPointcut">
		<property name="expression" value="execution(* com.avishek.spring.CustomerService.add*(..))"/>
   </bean>
   
   <bean name="PC3" class="org.springframework.aop.aspectj.AspectJExpressionPointcut">
		<property name="expression" value="execution(* com.avishek.spring.AccountService.get*(..))"/>
   </bean>
   
   <bean name="MBAdvisor1" class="org.springframework.aop.support.DefaultPointcutAdvisor">
   		<property name="advice" ref="mba"/>
   		<property name="pointcut" ref="PC1"/>
   </bean>
   
   <bean name="MRAdvisor1" class="org.springframework.aop.support.DefaultPointcutAdvisor">
   		<property name="advice" ref="mra"/>
   		<property name="pointcut" ref="PC1"/>
   </bean>
   
   <bean name="MTAdvisor1" class="org.springframework.aop.support.DefaultPointcutAdvisor">
   		<property name="advice" ref="mta"/>
   		<property name="pointcut" ref="PC1"/>
   </bean>
   
    <bean name="MBAdvisor2" class="org.springframework.aop.support.DefaultPointcutAdvisor">
   		<property name="advice" ref="mba"/>
   		<property name="pointcut" ref="PC2"/>
   </bean>
   
   <bean name="MRAdvisor2" class="org.springframework.aop.support.DefaultPointcutAdvisor">
   		<property name="advice" ref="mra"/>
   		<property name="pointcut" ref="PC2"/>
   </bean>
   
   <bean name="MTAdvisor2" class="org.springframework.aop.support.DefaultPointcutAdvisor">
   		<property name="advice" ref="mta"/>
   		<property name="pointcut" ref="PC2"/>
   </bean> 
   
   
   <!-- I want Security service for getBal()  but not the TxService and LogService-->
   
   <bean name="MBAdvisor3" class="org.springframework.aop.support.DefaultPointcutAdvisor">
   		<property name="advice" ref="mba"/>
   		<property name="pointcut" ref="PC3"/>
   </bean>
   
   <bean name="MRAdvisor3" class="org.springframework.aop.support.DefaultPointcutAdvisor">
   		<property name="advice" ref="mra"/>
   		<property name="pointcut" ref="PC3"/>
   </bean>
   
   <bean name="MTAdvisor3" class="org.springframework.aop.support.DefaultPointcutAdvisor">
   		<property name="advice" ref="mta"/>
   		<property name="pointcut" ref="PC3"/>
   </bean>
   
   
   
</beans>